@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  overflow-x: hidden;
}

nav {
  position: sticky;
}

.brand-logo {
  transition: transform 0.3s ease-in-out;
}

.brand-logo:hover {
  transform: scale(1.1);
}

.content {
  height: 80vh;
}

.resgister-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.plusBtn {
  transition: transform 0.3s ease-in-out;
}

.plusBtn:hover {
  transform: rotate(90deg) scale(1.2);
}

.ant-modal-body {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expForm {
  min-width: 100%;
}

.expForm > input {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  outline: none;
  max-width: 70%;
  /* padding: 1rem; */
  font-size: large;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  border: 0.5px solid rgb(210, 210, 210);
}

.expForm > input:hover {
  /* box-shadow: 0px 3px 6px gray; */
  transform: scale(1.01);
}

/* .expTable >.div2 > table {
  border: 1px solid black;
}

.expTable >.div2> table > thead,
tr,
th,
td {
  border: 1px solid black;
}

.expTable >.div2 > table > thead > tr > th {
  padding: 1rem;
  text-align: center;
  font-family: serif;
  background-color: rgb(255, 146, 126) ;
  color: black;
}

.expTable > .div2 > table > tbody > tr > td {
  padding: 1rem;
  text-align: center;
  font-family: serif;
}

tr:nth-child(odd) {
  background-color: rgb(207, 255, 239);
  color: black;
}

tr:nth-child(even) {
  background-color: teal;
  color: white
} */

/* Ensure Navbar takes full width */
.navbar {
  width: 100%;
}

/* Ensure Footer takes full width */
.footer {
  width: 100%;
}

/* Flex container styles for dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* Full screen height */
  width: 100%; /* Full screen width */
  padding: 20px;
}

/* Ensure PieChart container is centered */
.dashboard .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.contact-input {
  border-radius: 8px;
  padding: 0.5rem;
}

@media(max-width: 768px){
  .contact-input {
    max-width: 80%;
  }
}